body,
html {
  font-family: "raleway", sans-serif;
  color: black;
  font-size: small;
  width: 100%;
}

* {
  margin: 0px;
  padding: 0px;
}

header,
main {
  margin-left: 20px;
  margin-right: 20px;
}
/* SECTION TELEPHONE */
@media all and (max-width: 767px) {
  header,
  main {
    margin: 0;
  }
}
/* SECTION TABLETTE */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  header,
  main {
    margin: 0;
  }
}
