/* SECTION TELEPHONE TABLETTE ET ORDI */
@font-face {
  font-family: "raleway", sans-serif;
  src: url("Police/Raleway/static/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  font-family: "raleway", sans-serif;
  color: black;
  font-size: small;
  width: 100%;
}

* {
  margin: 0px;
  padding: 0px;
}

header,
main {
  margin-left: 20px;
  margin-right: 20px;
}
